<section class="logo">
   <span>Noticias.com</span>
   <span>Creado por <br> Villalobo Facundo Maximiliano </span>
</section>

<section class="links">
   <ul class="site-info">
      <li>Nosotros</li>
      <li>Privacidad</li>
      <li>Politicas</li>
      <li>Soporte</li>
   </ul>

   <ul class="other">
      <li>Videos</li>
      <li>Libros</li>
      <li>Revistas</li>
      <li>Música</li>
   </ul>

</section>
<section class="contact-info">
   <span class="number">
      +54 381-556-9400
   </span>
   <span class="email">
      maxijul_14@hotmail.com
   </span>
   <span class="website">
      <a href="#">www.facundo.com</a>
   </span>
</section>