<div *ngIf="article" >
   <div class="main" *ngIf="view === 'main'" >
      <span class="heading">Noticias</span>
      <img src="../../../assets/Images/{{article.imageName}}" alt="Clima"
      openArticle [category]="article.category" [id]="getId(article.title)">
      <h3 class="title">{{ article.title | titlecase }}</h3>
   </div>

   <div class="other" *ngIf="view === 'other'" >
    <span class="heading">Ultimas Noticias</span>

    <img src="../../../assets/Images/{{article.imageName}}" alt=""
    openArticle [category]="article.category" [id]="getId(article.title)">

    <h3 class="title"> {{ article.title | titlecase }} </h3>
   </div>

   <div class="suggested" *ngIf="view === 'suggested'" >
    <img src="../../../assets/Images/{{article.imageName}}" alt=""
    openArticle [category]="article.category" [id]="getId(article.title)">

    <h3 class="title">{{ article.title | titlecase }}</h3>
   </div>

</div>
